h1 {
    color: rgb(255, 38, 0);
    text-align: center;
    font-size: xx-large;
  }

  h2 {
    color: rgb(27, 226, 210);
    font-style: italic;
    font-size: xx-large;
    text-align: center;
  }

  p {
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    text-align: center;
   
  }
ol {
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    

    }

    li {
      text-align: center;
      list-style: inside;
    }

  ul {
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    list-style: inside;
  }
  body {
    background-color: rgb(135, 142, 145);
  }